<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header")%>
    <title>UPDATE BLOG</title>
    <style>
      .require {
          color: #666;
      }
      label small {
          color: #999;
          font-weight: normal;
      }
      body{
          background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
      }
      .inputFieldStyling{
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        
      }
    </style>
</head>
<body>
    <%-include('./partials/navBar')%>

    <!-- <%= JSON.stringify(blog)%> -->
    <div class="container">
      <div class="row">
          
          <div class="col-md-8 col-md-offset-2">
              
            <h1 style="color: white;">Edit Post</h1>
            
            <form action="/blog/update/<%=blog.id%>" method="POST" enctype="multipart/form-data">
                

                
                <div class="form-group">
                    <label for="title" style="color: white;">Title <span class="require" style="color: white;">*</span></label>
                    <input type="text" class="form-control inputFieldStyling" name="title" id="title" value="<%=blog.title%>" required />
                </div>
                
                <div class="form-group">
                    <label for="description" style="color: white;">Body<span class="require" style="color: white;">*</span></label>
                    <textarea rows="5" class="form-control inputFieldStyling" name="description" id="description" required ><%=blog.body%></textarea>
                </div> 
                
                <div class="form-group">
                  
                  <br>
                  <label for="coverImage" style="color: white;">Cover Image<span class="require" style="color: white;"></span></label><br>

                  <input type="file" name="coverImage" id="coverImage" class="form-control inputFieldStyling"  />
              </div>
                
                <div class="form-group">
                  <br>
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </div>
                
            </form>
        </div>
        
      </div>
    </div>

    
     <%-include('./partials/scripts')%>
</body>
</html>